body {
    height: 100vh;
    width: 100vw;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: grid;
    height: 99vh;
    width: 99vw;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    gap: 5px;
}

/********************** HEADER */

.header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    padding: 10px;
}

.top {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.top-left {
    display: grid;
    grid-template-columns: 30px 1fr;
    align-content: space-around;
}

.search-icon {
    width: 1.5em;
}

#search-bar {
    border-radius: 5px;
    border: 1px solid grey;
    height: 20px;
    width: 90%;
    outline: 0;
    background-color: #f0f0f0;
}


.top-right {
    display: grid;
    grid-template-columns: 1fr 1fr 100px;
    align-content: space-around;
}

.alarm-icon, .user-icon {
    width: 2em;
}

.user-name {
    font-size: 1em;
    font-weight: 900;
    justify-self: center;
    align-self: center;
}







.bottom {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    margin-top: 10px;
}

.greeting {
    display: grid;
    grid-template-columns: 60px 1fr;
}

.user-greeting-icon {
    width: 3em;
    grid-row: 1 / 3;
}

.hello {
    font-size: 1em;
    justify-self: start;
    align-self: last baseline;
}

.user-name-greeting {
    font-size: 1.25em;
    justify-self: start;
    align-self: first baseline;

}

.buttons {
    justify-self: end;
    align-self: center;
}

button {
    border: none;
    appearance: none;
    outline: none;
    background: none;
    cursor: pointer;
    color: white;
    background-color: rgb(65, 182, 255);
    border-radius: 15px;
    padding: 10px;
    margin: 0px 15px;
    width: 7em;
}


/******************************** SIDEBAR */


.sidebar {
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 75px 1fr;
    background-color: rgb(65, 182, 255);
    color: white;
}

.sidebar-title, .sidebar-item {
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
    padding-bottom: 10px;
}

.sidebar-title {
    font-size: 1.15em;
    font-weight: 900;
}

#title-icon {
    width: 1.15em;
}

.sidebar-item {
    font-size: 1em;
    font-weight: 900;
}

.dashboard-icon {
    width: 1em;
    filter: invert(100%);
    align-self: center;
    justify-self: center;
}



/********************************** MAIN */

.main {
    display: grid;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    grid-template-columns: 3fr 1fr;
    background-color: rgb(219, 219, 219)    
}

.main-left {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px repeat(auto-fit, 1fr);
    padding: 15px;
}

#project-title {
    grid-column: 1 / 3;
}


.project-card {
    border-left: 10px solid orange;
}


.main-right {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.announcements {
    display: grid;
    grid-template-rows: 50px 1fr;
}

#announcements-title, #trending-title {
    padding: 15px;
}

.trending {
    display: grid;
    grid-template-rows: 25px 1fr;
    padding-bottom: 15px;
}

.project-card, .announcements-box, .trending-box {
    background-color: rgb(246, 244, 244);
    border-radius: 5px;
    padding: 15px;
    margin: 15px;
}

